[Unit]
Description=MyApp FastAPI Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/{{ app_name }}
ExecStart=/opt/{{ app_name }}/venv/bin/python -m uvicorn main:app --host 0.0.0.0 --port={{ app_port }} --app-dir /opt/{{ app_name }}
EnvironmentFile=/opt/{{ app_name }}/.env
Restart=always

[Install]
WantedBy=multi-user.target
